.header {
    position: absolute;
    top: -100px;
    width: 100%;
    background: #fff;
    height: 80px;
    box-shadow: 0 2px 15px rgba(0,0,0, 0.2);
    z-index: 1000;
    .show-header & {
      position: fixed;
      top: 0;
      transition: 0.3s;
    }
    .container {
        .main-header {
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h1 {
                font-size: 2em;
            }
            nav {
              ul {
                display: flex;
                @include screen-sm {
                  position: fixed;
                  top: 0;
                  bottom: 0;
                  left: -320px;
                  z-index: 1100;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  width: 320px;
                  background-color: #fff;
                  transition: .4s;
                  .open-side-menu & {
                    left: 0;
                  }
                }
                li {
                  padding: 15px;
                  cursor: pointer;
                  &:hover {
                    color: #fd735a;
                  }
                  @include screen-sm {
                    padding: 20px 0;
                  }
                }
              }
            }
          .screen {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 100;
            background: rgba(0,0,0, 0.6);
            display: none;
            .open-side-menu & {
              display: block;
            }
          }
          .btn-menu {
            font-size: 26px;
            color: #333;
            cursor: pointer;
            display: none;
            @include screen-sm {
              display: flex;
              align-items: center;
              padding: 0 10px;
            }
          }
        }
    }
}