body {
    color: #333;
}
.section-home {
    position: relative;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    .black {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .3);
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .home-title {
            position: relative;
            text-align: center;
            margin-bottom: 80px;
            h4 {
                color: #fff;
            }
            h1 {
                margin-top: 40px;
                font-size: 6em;
                color: #fff;
            }
        }
    }
}

.section-about {
    position: relative;
    margin-top: -200px;
    .container {
        .bio {
            display: flex;
            align-items: center;
            max-width: 900px;
            margin: auto;
            background: #fff;
            box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
            padding: 50px;
            opacity: 0;
            transform: translate(0, 50px);
            transition:  0.4s;
            .get-scroll & {
                opacity: 1;
                transform: none;
            }
            .about-title {
                flex: 6;
                h2 {
                    margin-bottom: 20px;
                }

                p {
                    line-height: 1.5;
                    font-size: 1.3em
                }

                .sns-links {
                    margin-top: 30px;
                    display: flex;
                    a {
                        padding-right: 20px;
                    }
                }
            }
            .about-cover {
                flex: 4;
                text-align: center;
                @include screen-sm {
                    display: none;
                }
                img {
                    width: 300px;
                    height: 300px;
                    border-radius: 50%;
                    border: 1px solid rgba(97, 88, 88, 0.26);
                    padding: 3px;
                    object-fit: cover;
                }
            }
        }
    }
}
.section .title-area {
    text-align: center;
    margin-bottom: 30px;
    h2 {
        margin: 20px 0;
        display: inline-block;
    }
    .line {
        margin-top: 30px;
    }
}

.section-service {
    padding: 100px 0;
    .container {
        .service-title {
            text-align: center;
            h2 {
                margin: 20px 0;
            }
        }
        .service-contents {
            position: relative;
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: 0 -15px;
                li {
                    flex: 1 1 33.3333%;
                    max-width: 33.3333%;
                    padding: 15px;
                    @include screen-sm {
                        flex: 1 1 50%;
                        max-width: 50%;
                    }
                    .service-list {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 100%;
                            height: 240px;
                        }
                        span {
                            position: absolute;
                            background-color: #fff;
                            border-radius: 3px;
                            padding: 10px 20px;
                        }
                        .screen {
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            background-color: #fd735a;
                            padding: 20px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            opacity: 0;
                            transition: .4s;
                            cursor: pointer;

                            i {
                                font-size: 30px;
                                color: #fff;
                            }

                            h4 {
                                color: #fff;
                                padding: 15px 0;
                            }

                            p {
                                text-align: center;
                                line-height: 1.5;
                                color: #fff;
                            }

                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}

.section-resume {
    background-color: #f7f7f7;
    padding: 100px 0;

    .container {
        .resume-title {
            text-align: center;

            h2 {
                margin: 20px 0;
            }

            .bar {
                width: 100px;
                height: 2px;
                background-color: #333333;
                margin-top: 30px;
                margin-bottom: 60px;
                display: inline-block;
            }
        }

        .resume-contents {
            display: flex;
            justify-content: space-between;

            ul {
                display: flex;
                flex-direction: column;

                li {
                    flex: 1 1 50%;
                    margin-top: 20px;
                    background-color: #fff;
                    border: 1px solid #eee;
                    border-radius: 2px;
                    padding: 20px;

                    h4 {
                        margin: 7px 0;
                    }

                    .desc {
                        display: inline-block;
                        padding: 4px;
                        background-color: #fd735a;
                        border-radius: 3px;
                        color: #fff;
                        margin: 20px 0;
                        font-size: 0.7em;
                    }

                    p {
                        color: #6e7373;
                        line-height: 1.5;
                    }
                }
            }

            .resume-experience {
                padding-right: 15px;
            }

            .resume-education {
                padding-left: 15px;
            }
        }

        .resume-skills {
            padding-top: 40px;
            display: flex;
            justify-content: space-between;

            h3 {
                margin-bottom: 20px;
            }

            ul {
                display: flex;
                flex-direction: column;
                border: 1px solid #eee;
                border-radius: 2px;
                background-color: #fff;

                li {
                    padding: 20px;

                    h5 {
                        margin-bottom: 10px;
                    }

                    .skill-bar {
                        background-color: #ddd;
                        width: 100%;
                        height: 5px;
                        border-radius: 3px;
                    }

                    .skill-value {
                        background-color: #fd735a;
                        width: 100%;
                        height: 5px;
                        border-radius: 3px;
                    }
                }
            }

            .design-skill {
                flex-basis: 50%;
                padding-right: 15px;
            }

            .coding-skill {
                flex-basis: 50%;
                padding-left: 15px;
            }
        }
    }
}

.section-portfolio {
    position: relative;
    padding: 100px 0;
    .container {
        .portfolio-title {
            text-align: center;
            h2 {
                display: inline-block;
                margin: 20px 0;
            }
        }
        .gallery-slideshow {

            .gallery-slides {

                .gallery-item {
                    position: relative;
                    width: 300px;
                    height: 500px;
                    img {
                        width: 100%;
                        height: 500px;
                    }
                    .screen {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background-color: rgba(0,0,0, .6);
                        opacity: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        color: #fff;
                        line-height: 1.5;
                        &:hover {
                            opacity: 1;
                        }
                    }
                    &:hover {
                        transform: scale(1.1);
                        transition: .5s;
                    }
                }
            }
        }
    }
}

.section-testimonial {
    position: relative;
    padding: 100px 0;
    background-color: #f7f7f7;

    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .testimonial-title {
            text-align: center;

            h2 {
                margin: 20px 0;
            }
        }
        .testimonial-slideshow {
            width: 700px;
            background-color: #fff;
            padding: 20px;
            .testimonial-slide{
                .testimonial-item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    img {
                        width: 100px;
                        height: 100px;
                        border-radius: 30%;
                    }
                    p {
                        color: #333;
                        line-height: 1.5;
                        padding: 30px 0;
                    }
                }
            }
        }
        .slick-arrow {
            width: 27px;
            height: 44px;
            position: absolute;
            top: 50%;
            transform: translateY(50%);
            cursor: pointer;
            &.slick-prev {
                left: 100px;
            }
            &.slick-next {
                right: 100px;
            }
        }
    }
}
.section-hire {
    padding: 150px 0;
    background-image: url("../images/freelance.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;

    .black {
        position: absolute;
        background-color: rgba(0, 0, 0, .3);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .container {
        .hire-desc {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                font-size: 2.5em;
                color: #fff;
                font-weight: 600;
            }

            .hire-btn {
                border: 1px solid #fff;
                border-radius: 5px;
                text-align: center;
                color: #fff;
                width: 170px;
                padding: 10px;
                cursor: pointer;
            }
        }

    }
}

.section-blog {
    position: relative;
    padding: 100px 0;
    .container {
        .blog-title {
            text-align: center;

            h2 {
                margin: 20px 0;
                display: inline-block;
            }
        }
        .blog-slideshow {
            .blog-slide {
                padding: 15px;
                .blog-item {
                    max-width: 350px;
                    .thumb {
                        position: relative;
                        img {
                            width: 100%;
                            height: 300px;
                            overflow: hidden;
                        }
                        .screen {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            background: rgba(0,0,0, .6);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #fff;
                            line-height: 1.5;
                            opacity: 0;
                            cursor: pointer;
                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                    .desc {
                        background-color: rgba(141, 156, 173, 0.11);
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: 15px;
                        text-align: center;
                        p {
                            padding-bottom: 15px;
                        }
                    }
                }
            }
            .slick-dots {
                position: absolute;
                bottom: -30px;
                left: 0;
                right: 0;
                display: flex;
                align-items: center;
                background-color: #a5a5a5;
                margin: 0 15px;
                li {
                    width: 50%;
                    height: 4px;
                    &.slick-active {
                        background-color: #fd735a;
                    }
                    button {
                        display: none;
                    }
                }
            }
        }
        .blog-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            a {
                text-align: center;
                background-color: #fd735a;
                color: #fff;
                padding: 10px 20px;
                margin-top: 30px;
                border-radius: 3px;
                box-shadow: 0 10px 40px 0 rgba(0, 0, 0, .3);
                cursor: pointer;
            }
        }
    }
}

.section-contact {
    padding: 100px 0;
    background-color: #f7f7f7;

    .container {
        .contact-title {
            text-align: center;

            h2 {
                margin: 20px 0;
                display: inline-block;
            }


        }

        .contact-location {
            .map {

            }
        }

        .contact-touch {
            h4 {
                margin-bottom: 10px;
            }

            ul {
                display: flex;
                margin: 0 -15px;
                @include screen-sm {
                    flex-direction: column;
                }

                li {
                    flex: 1 1 33.333%;
                    padding: 15px;

                    .contact-item {
                        background-color: #fff;
                        padding: 30px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        i {
                            font-size: 25px;
                            margin-bottom: 20px;
                        }

                        a {
                            text-decoration: underline;
                            margin: 20px 0;
                        }
                    }
                }
            }
        }

        .contact-form {
            h4 {
                margin-top: 30px;
                margin-bottom: 25px;
            }

            .name-mail {
                display: flex;
                @include screen-sm {
                    flex-direction: column;
                }
                margin-left: -15px;

                input {
                    flex: 1 1 50%;
                    padding: 20px;
                    margin-bottom: 15px;
                    margin-left: 15px;
                }
            }

            .input-box {
                display: flex;
                flex-direction: column;

                input {
                    padding: 20px;
                    margin-bottom: 15px;
                }

                .comments {
                    padding-bottom: 60px;
                }
            }

            .form-btn {
                display: flex;
                justify-content: center;

                a {
                    text-align: center;
                    background-color: #fd735a;
                    color: #fff;
                    padding: 10px 20px;
                    margin-top: 30px;
                    border-radius: 3px;
                    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, .3);
                    cursor: pointer;
                }
            }
        }
    }
}

.back-top {
    position: fixed;
    bottom: -80px;
    right: 50px;
    width: 60px;
    height: 60px;
    z-index: 1000;
    border-radius: 50%;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
    background-color: #fd735a;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:  0.4s;
    cursor: pointer;
    .need-back-top & {
        bottom: 80px;
    }
}
